# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/
